@import 'colors';
@import '~bootstrap/scss/mixins/buttons';

.btn-submit {
  @include button-variant(
    $PRIMARY_BLUE,
    $STATUS_BLUE,
    $WHITE,
    lighten($PRIMARY_BLUE, 3%),
    lighten($PRIMARY_BLUE, 3%),
    $WHITE,
    $STATUS_BLUE,
    $STATUS_BLUE,
    $WHITE
  );
  &.loading {
    position: relative;
    color: transparent !important;
    &:before {
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 3px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      border-top-color: #fff;
      animation: spin 1s ease-in-out infinite;
      -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}
