@import 'colors';
@import '~bootstrap/scss/mixins/buttons';

.btn-submit {
  @include button-variant(
    $PRIMARY_BLUE,
    $STATUS_BLUE,
    $WHITE,
    lighten($PRIMARY_BLUE, 3%),
    lighten($PRIMARY_BLUE, 3%),
    $WHITE,
    $STATUS_BLUE,
    $STATUS_BLUE,
    $WHITE
  );
  &.loading {
    position: relative;
    color: transparent !important;
    &:before {
      margin: 0 auto;
      position: absolute;
      left: 0;
      right: 0;
      content: '';
      display: inline-block;
      width: 25px;
      height: 25px;
      border: 3px solid rgba(255, 255, 255, 0.3);
      border-radius: 50%;
      border-top-color: #fff;
      animation: spin 1s ease-in-out infinite;
      -webkit-animation: spin 1s ease-in-out infinite;
    }

    @keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      to {
        -webkit-transform: rotate(360deg);
      }
    }
  }
}

.btn-small {
  @include button-size('10px', '40px', '14px', '3px');
}

.btn-small-2 {
  @include button-size('11px', '22px', '14px', '3px');
}

.btn-logout {
  width: 100%;
  font-weight: 500;
  @include button-variant(
    $FORM_FILL_GRAY,
    darken($FORM_FILL_GRAY, 5%),
    $BLACK_100,
    darken($FORM_FILL_GRAY, 3%),
    darken($FORM_FILL_GRAY, 5%),
    $BLACK_100,
    $FORM_FILL_GRAY,
    $DARK_GRAY_100,
    $BLACK_100
  );
  @include button-size('9px', '12px', '14px', '3px');
}
