@import 'normalize.css';
@import 'colors';
@import 'typography';
@import 'forms';
@import 'utils';
@import '~bootstrap/scss/bootstrap.scss';
@import 'buttons';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fff;
}
