@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$header-height: 70px;

.header-offset-top {
  padding-top: $header-height;
}

.header {
  top: 0;
  position: fixed;
  height: $header-height;
}

.transition {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}
