@import '../../styles/colors';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.chat-item {
  position: relative;
  background-color: $WHITE;
  border-radius: 6px;
  &.active {
    background-color: rgba($STATUS_BLUE, 0.08);
  }
  &.small {
    border-radius: 0;
    margin: 0;
    .message-link {
      width: 100%;
      height: 100%;
      opacity: 0;
      right: 0;
      font-size: 0;
    }
  }
  &.wide {
    margin: 10px 1rem;
    align-items: center;
    @include media-breakpoint-up(md) {
      margin: 10px 1.5rem;
    }
  }
}

.message-link {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  right: 0;
  font-size: 0;
  @include media-breakpoint-up(md) {
    position: absolute;
    right: 33px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 23px;
    width: auto;
    opacity: 1;
    font-size: 14px;
  }
}
